# Env files
.env
*.tfvars
!*.tfvars.example

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
terraform.tfplan

# Node
node_modules/
dist/
frontend/dist/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Docker
*.log

# OS
.DS_Store
